<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	<a class="navbar-brand" href="#">
		<img src="/images/libra.jpg" width="40" height="40" class="d-inline-block align-top" alt=""
			style="float: left;">
		<h2>HOTEL</h2>
	</a>
	<form class="form-inline">
		<input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-0 my-sm-0" type="submit"><i class="fa fa-search"
				aria-hidden="true"></i></button>
	</form>
	<form class="form-inline">
		<a href="#" class="btn btn-primary" style="border-radius: 17px;">Contact</a>
		<p>&nbsp;</p>
		<a href="#" class="btn btn-primary" style="border-radius: 17px;">Register</a>
		<p>&nbsp;</p>
		<a href="/login" class="btn btn-primary" style="border-radius: 17px;">Login</a>
	</form>

</nav>