<h1>{{title}}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <h4>List :</h4>
            <p>
                <ul>
                    <li>Hotel Mulia Resort Nusa Dua Bali 5*</li>
                    <li>Hotel Bandung Trans Studio</li>
                    <li>Hotel Borobudur Jakarta</li>
                    <li>Hotel Neo Malioboro</li>
                    <li>Aston Anyer</li>
                    <li>Aston Bogor</li>
                    <li>Villa Istana Bunga</li>
                    <li>Mercure Bandung</li>
                    <li>Padma Hotel Bandung</li>
                    <li>Novotel Bogor</li>
                    <li>Taman Savari Lodge</li>
                    <li>Royal Safari Garden</li>
                    <li>Hilton Bandung</li>
                    <li>Hotel ibis yogyakarta</li>
                </ul>
            </p>
        </div>
        <div class="col-sm-10">
            <div class="card" style="width: 100%; height: 80%;">
                <img src="/images/bali.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HOTEL MULIA RESORT NUSA DUA BALI 5 *</h5>
                    <p class="card-text">Segera perlu dikatakan bahwa ini adalah hotel mewah dengan wilayah besar
                        sendiri, yang secara bertahap berubah menjadi pantai yang ditutupi dengan pasir putih halus.
                        Kompleks hotel Mulia Resort Nusa Dua Bali 5 * di sebelah kanan dianggap sebagai tempat paling
                        indah dan sekaligus paling mahal di pantai.</p>
                    <a href="#" class="btn btn-primary">Selengkapnya</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <img src="/images/bandung.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HOTEL TransStudio Bandung</h5>
                <a href="#" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
        <div class="col-sm">
            <img src="/images/htl.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HOTEL Neo Malioboro</h5>
                <a href="#" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
        <div class="col-sm">
            <img src="/images/jakarta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HOTEL Borobudur Jakarta</h5>
                <a href="#" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
        <div class="col-sm">
            <img src="/images/halo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HOTEL MULIA RESORT NUSA DUA BALI 5 *</h5>
                <a href="#" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
    </div>
</div>

<footer style="background: #dfe6e9; text-align:center; margin: 5px; padding: 5px;">
    Copyright 2019
</footer>