<div class="row justify-content-center">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h3>Tambah Informasi Kamar</h3>
                <hr>
                <form action="/admin/kamar/add" method="post">
                    <div class="form-group">
                        <label for="inputno">Nomor Kamar</label>
                        <input type="text" name="no" placeholder="Masukkan nomor kamar" id="inputno"
                            class="form-control col-12">
                    </div>
                    <div class="form-group">
                        <label for="inputjumlah">Jumlah Tempat Tidur</label>
                        <input type="text" name="jumlah" placeholder="Masukkan jumlah kasur" id="inputjumlah"
                            class="form-control col-12">
                    </div>
                    <div class="form-group">
                        <label for="inputfasilitas">Fasilitas Kamar</label>
                        <input type="text" name="fasilitas" placeholder="Masukkan fasilitas" id="inputfasilitas"
                            class="form-control col-12">
                    </div>
                    <div class="form-group">
                        <label for="inputharga">Harga/hari</label>
                        <input type="text" name="harga" placeholder="Masukkan harga" id="inputharga"
                            class="form-control col-12">
                    </div>
                    <a href="/admin/kamar" class="btn btn-warning">Kembali</a>
                    <button type="submit" style="float: right" class="btn btn-primary">Tambahkan</button>
                </form>
            </div>
        </div>
    </div>
</div>